body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: #f0f0f0;
    color: #0974ff;
    justify-content: center;

}

div, div1{
    background-color: #5f0808;
    border-radius: 20%;
    justify-content: center;

}

div, h2 {
    font-family: 'Times New Roman', Times, serif;


}

